@import "tailwindcss";

@font-face {
  font-family: "PokemonClassic";
  src: url("../assets/fonts/PokemonClassic.ttf")
}

body {
  @apply m-0 bg-white;
  font-family: "PokemonClassic", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 700;
  font-size: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}