    <div class="h-screen flex flex-col items-center gap-8">
      <h1 class="text-[6rem] font-bold pt-[12vh]">Pokéclipse</h1>

      <Button
        color="#5da93c"
        reverseFont={true}
        (click)="login()"
      >
        Se connecter
      </Button>

      <!-- {!!protectedData?.session && (
        <>
          <div>{protectedData?.session?.user?.id}</div>
          <div>{protectedData?.session?.user?.name}</div>
          <img src={protectedData?.session?.user?.image ?? ""} />
        </>
      )}
      <div class="text-red-500">{protectedError?.message}</div> -->
    </div>
